body {
    background-color: #202432;
  }
  

  
  .li-item-s a {
    color: #a0b8d0;
    font-size: 1.1rem;
    transition: color 0.3s ease, font-size 0.4s ease;
    margin-left: 50px;
  }
  
  .li-item-s a:hover {
    color: rgb(200, 229, 37);
    font-size: 1.11rem;
    text-decoration: underline;
  }
  
  /* styles.css */
footer {
  padding: 1rem;
  background-color: #343a40; /* Dark background for footer */
}

.footer-icons a {
  margin: 0 0.5rem;
  color: #ffffff;
}
.alert {
  position: fixed; 
  top: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  display: none; 
  font-size: 1rem; 
}

.alert.visible {
  display: block; 
}
